<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Welcome to the Tinder knockoff - Sign Up below:</h1>

<div id="error"></div>

<form id="form">

<div>
    <label for="Firstname">Enter First Name:</label>
    <input type="text" id="Firstname" required>
</div>
<br></br>
<div>
    <label for="Lastname">Enter Last Name:</label>
    <input type="text" id="Lastname" required>
</div>
<br></br>
<div>
    <label for="Email">Enter Email Adress:</label>
    <input type="email" id="Email" required>
</div>
<br></br>
<div>
    <label for="password">Enter Password:</label>
    <input type="text" id="password" name="password" required>
</div>
<br></br>
<div>
    <label for="date">Choose Birtday:</label>
    <input type="date" required> 
</div>
<br></br>
<div>
    <label for="checkbox">Choose You're Gender:</label>
    <br></br>
        <input type="radio" name="gender" value="Male"> Male<br>
        <input type="radio" name="gender" value="Female"> Female<br>
    <input type="radio" name="gender" value="Other"> Other<br>
</div>
<br></br>
<button type="submit">Submit profile</button>
<script src="/app.js"></script>
</form>
</body>
</html>